#canvasForm {
  margin-top: 30px;  
}

#canvasButton {
	margin: 0px 10px;
}

.smallInput {
	margin: 0px 10px;
	width: 142px!important;
}

h2.default {
	color: #2C3E50;
}

h3 {
	font-size: 1.3em;
}

section.default {
  background: white; }